.bubbleContainer {
    display: flex;
    margin: 1em 2em;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.chatBubble {
  -webkit-box-shadow: 0px 0px 15px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -13px rgba(0, 0, 0, 0.75);

  max-width: 75%;
  display: inline-block;
  padding: 1.5rem 0.5rem;

  position: relative;

  min-width: 4rem;

  overflow-wrap: break-word;
  hyphens: auto;
}

.leftBubble {
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  background-color: white;
}

.rightBubble {
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
  background-color: var(--color2);
}

.chatBubble .timestamp {
  position: absolute;
  right: 0.75rem;
  bottom: 0.2rem;
  font-size: x-small;
  font-weight: bold;
}

.chatBubble h1 {
  font-size: small;
  margin: 0;
  margin-top: -0.7rem;
}

.chatBubble p {
  margin: 0;
  white-space: pre-wrap;
}
